html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
}
body {
    margin: 0px;
}
nav {
    background-color: black;
    display: block;
    position: relative;
    height: 60px;
    width: 100%;
}
.c_nav {
    width: 900px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.c_navc {
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin-right: auto;
    margin-left: auto;
}
.item {
   display: grid;
   height: 250px;
   overflow: hidden;
   background-color: white;
}
.logo {
    height: 110px;
    width: 100%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}
.corra {
    height: 500px;
    background-color: white;
    width: 100%;
}
.cor_text {
    margin-top: 150px;
    margin-left: -100px;
    height: 100px;
    width: 300px;
    color: white;
    background-color: black;
    z-index: 1;
    position: absolute;
}
.cor_btn:hover {
    text-decoration-line: underline;
}
.cor_text2 {
    line-height: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
}
.pro_p {
    line-height: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
}
.pro_p a {
    color: white;
    background-color: black;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    text-decoration-line: none;
    border-radius: 5px;
}
.pro_p a:hover {
   background-color: grey;
}
.basket {
    display: block;
    width: 100%;
 }
.unit_num {
    width: 20px;
}
.basket ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
    background-color: white;
    padding-bottom: 15px;
    border-top: 1px solid #EAE9E9;
    padding-top: 15px;
    margin: 0px;
 }
 .basket form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    background-color: white;
    padding-bottom: 15px;
    border-top: 1px solid #EAE9E9;
    padding-top: 15px;
    padding-left: 10px;
    margin: 0px;
 }

 .item-sec {
     overflow: hidden;
 }
 .item-sec input[type=submit] {
    display: inline-block;
    font-size: 1em;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 0px none;
}
.item-sec a {
    display: inline-block;
    color: white;
    text-decoration-line: none;
    padding: 5px;
    border-radius: 5px;
 }

 .basket ul a {
    display: inline-block;
    color: white;
    text-decoration-line: none;
    padding: 5px;
    border-radius: 5px;
 }
 .titleh {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
 }

.cor_text2:hover {
    text-decoration-line: underline;
}
.corra_img {
    height: 500px;
    width: 900px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
nav a {
    float: left;
    text-align: center;
    color: white;
    text-decoration-line: none;
    width: 150px;
    line-height: 60px;
    height: 60px;
}
nav input[type=text] {
    display: inline-block;
    margin-top: 15px;
    line-height: 60px;
    height: 20px;
    border-radius: 3px;
}
nav a:hover {
    background-color: grey;
}
footer li {
    float: left;
    width: 200px;
    display: block;
}
.clear {
    clear: both;
}
.units_n {
    position: absolute;
    color: green;
}
.a_label {
    clear: both;
    display: block;
    position: relative;
    font-size: 0.8em;
}
footer a {
    color: black;
    text-decoration-line: none;
}
footer a:hover {
    text-decoration-line: underline;
}
.copy {
    text-align: right;
    font-size: 0.8em;
}
.form_s {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    width: 500px;
}
.form_s label {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
.form_s input[type=password] 
{
    height: 20px;
    width: 200px;
    line-height: 30px;
    clear: both;
}
.form_s input[type=text] 
{
    height: 20px;
    width: 200px;
    line-height: 30px;
    clear: both;
}
.form_s input[type=submit] 
{
    clear: both;
    margin-top: 5px;
    background-color: black;
    color: white;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    width: 200px;
}
.red {
    background-color: red;
 }
.green {
    background-color: green;
 }
.form_s a {
    clear: both;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    display: block;
}


